*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 42%; } }
  @media (max-width: 600px) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: inherit;
  position: relative; }

::selection {
  color: #EBDDDD;
  background-color: #4A2C2A; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 2;
  min-height: 100vh;
  color: #EBDDDD;
  background-color: #EBDDDD; }

.heading-primary {
  display: block;
  font-family: 'Recoleta', Helvetica, Arial, sans-serif;
  color: #FFF749;
  font-weight: 600;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  transform: skewY(-1.5deg) skewX(-12deg);
  margin: auto;
  text-align: center;
  transition: all .3s; }
  .heading-primary:hover {
    transform: skewY(-0.5deg) skewX(-4deg); }
  @media (max-width: 1200px) {
    .heading-primary {
      letter-spacing: .75rem; } }
  @media (max-width: 900px) {
    .heading-primary {
      letter-spacing: .5rem; } }
  @media (max-width: 44.375em) {
    .heading-primary {
      letter-spacing: 0;
      font-size: 5.75rem; } }
  @media (max-width: 28.125em) {
    .heading-primary {
      font-size: 5.25rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.25rem;
    color: #FFF405;
    font-weight: 900;
    letter-spacing: 1.5rem;
    transform: skewX(-12deg); }
    @media (max-width: 1200px) {
      .heading-primary--sub {
        letter-spacing: 1.35rem; } }
    @media (max-width: 900px) {
      .heading-primary--sub {
        letter-spacing: 1.25rem; } }
    @media (max-width: 44.375em) {
      .heading-primary--sub {
        letter-spacing: .75rem; } }
    @media (max-width: 600px) {
      .heading-primary--sub {
        transform: skewX(-3deg) skewY(0);
        letter-spacing: 4px; } }
    @media (max-width: 28.125em) {
      .heading-primary--sub {
        letter-spacing: 2px;
        font-size: 1.9rem; } }

.envelope-text {
  font-family: cursive, monospace !important; }

.heading-secondary {
  font-family: 'Recoleta', Helvetica, Arial, sans-serif;
  display: block;
  width: 45%;
  color: #FFFEF3;
  text-transform: uppercase;
  padding-bottom: .5rem;
  margin: 0 auto;
  letter-spacing: .4rem;
  text-shadow: 0 1px 1rem rgba(20, 12, 11, 0.2);
  border-bottom: 2px solid #4A2C2A;
  text-shadow: 0 2px 4px rgba(20, 12, 11, 0.7);
  position: relative;
  transition: all .3s; }
  .heading-secondary:hover {
    transform: skewY(-2deg) skewX(-7deg) scale(1.25);
    text-shadow: 0 5px 1rem rgba(20, 12, 11, 0.4); }
  .heading-secondary--envelope {
    color: #804C49;
    font-weight: 100;
    width: 40%;
    margin: 1.6rem 0;
    z-index: -2;
    text-shadow: none; }
    .heading-secondary--envelope:hover {
      transform: none;
      text-shadow: none; }
    @media (max-width: 87.5em), (hover: hover) {
      .heading-secondary--envelope {
        margin-left: 6rem; } }
    @media (max-width: 62.5em) {
      .heading-secondary--envelope {
        margin-left: 9.5rem; } }
    @media (max-width: 43.75em) {
      .heading-secondary--envelope {
        width: 75%;
        margin: 0 auto; } }

.paragraph {
  display: block;
  font-size: 1.6rem;
  color: #FFFEF3;
  text-align: left; }
  .paragraph--envelope {
    color: #804C49;
    padding: 2rem 3rem; }
    @media (max-width: 87.5em), (hover: hover) {
      .paragraph--envelope {
        width: 56%; } }
    @media (max-width: 62.5em) {
      .paragraph--envelope {
        width: 70%; } }
    @media (max-width: 43.75em) {
      .paragraph--envelope {
        width: auto; } }
    .paragraph--envelope .greeting {
      display: block;
      font-size: 1.7rem;
      color: #4A2C2A;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .paragraph--envelope .intro {
      display: block;
      width: 98%;
      text-indent: 2.5rem;
      margin-bottom: .5rem; }
    .paragraph--envelope .ending, .paragraph--envelope .signature {
      display: block;
      font-size: 1.8rem;
      color: #4A2C2A;
      text-align: right;
      margin-right: 7.5rem; }
    .paragraph--envelope .signature {
      font-family: 'Recoleta', Helvetica, Arial, sans-serif;
      font-weight: 600;
      margin-right: 3.25rem;
      letter-spacing: 1px;
      transform: skewX(-8deg) skewY(-1.5deg) translateY(6px);
      transition: all .1s; }
      .paragraph--envelope .signature:hover {
        transform: skewX(-12deg) skewY(-3deg) translateY(12px) scale(1.1);
        letter-spacing: 2px; }

.heading-tertiary {
  display: block;
  font-size: inherit;
  color: #FFF749;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: left;
  background-image: linear-gradient(to right, #FFF405 0, #FFF405 20%, #FFF749 25%, #FFF749);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0.25rem 0.75rem rgba(20, 12, 11, 0.2);
  transition: all .2s; }
  .heading-tertiary--brown {
    background-image: linear-gradient(to right, #804C49, #4A2C2A);
    background-clip: text;
    color: transparent; }
  .heading-tertiary:hover {
    text-shadow: 0 0.35rem 0.75rem rgba(20, 12, 11, 0.3);
    transform: scale(1.01) rotateZ(-0.25deg);
    letter-spacing: .35rem; }

.heading-quaternary {
  display: block;
  color: #FFFEF3;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px; }

.u-center-text {
  text-align: center !important; }

.u-margin-auto {
  margin: auto; }

.u-margin-top-massive {
  margin-top: 26rem !important; }

.u-margin-top-less-masive {
  margin-top: 20rem !important; }

.u-margin-top-huge {
  margin-top: 16rem !important; }

.u-margin-top-big {
  margin-top: 10rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-tiny {
  margin-top: 2rem !important; }

.u-margin-bottom-massive {
  margin-bottom: 26rem !important; }

.u-margin-bottom-less-massive {
  margin-bottom: 18rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 14rem !important; }

.u-margin-bottom-big {
  margin-bottom: 10rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 6rem !important; }

.u-margin-bottom-small {
  margin-bottom: 4rem !important; }

.u-margin-bottom-tiny {
  margin-bottom: 2rem !important; }

.u-margin-left-small {
  margin-left: 4rem !important; }

.u-margin-left-tiny {
  margin-left: 2rem !important; }

.u-uppercase {
  text-transform: uppercase !important; }

.form {
  display: block;
  width: 50%;
  font-size: 2rem;
  color: #FFFDD1; }
  @media only screen and (max-width: 65em) {
    .form {
      width: 60%; } }
  @media only screen and (max-width: 52.25em) {
    .form {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 100%; } }
  .form__group {
    margin-bottom: 2.5rem;
    position: relative; }
  .form__input {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 600;
    color: #4A2C2A;
    letter-spacing: 1px;
    padding: 1.25rem 2rem;
    width: 60%;
    min-width: 20rem;
    position: relative;
    top: -4px;
    border: none;
    background-color: #FFF;
    border-radius: 5px; }
    @media only screen and (max-width: 62.5em) {
      .form__input {
        width: 45%; } }
    @media only screen and (max-width: 34em) {
      .form__input {
        width: 50%; } }
    @media only screen and (max-width: 28em) {
      .form__input {
        width: 60%; } }
    .form__input::placeholder {
      color: #140C0B;
      opacity: 0.5; }
    .form__input:focus {
      outline: none; }
      .form__input:focus::placeholder {
        opacity: 0; }
    .form__input:focus:invalid {
      border-bottom: 4px solid #FF6F6F; }
    .form__input:focus:valid {
      border-bottom: 4px solid #6DBF93; }
    .form__input:not(:placeholder-shown):invalid {
      border-bottom: 4px solid #FF6F6F; }
    .form__input:valid {
      border-bottom: 4px solid #6DBF93; }
    .form__input:placeholder-shown {
      border-bottom: 4px solid #AE7470; }
  .form__label {
    color: #FFFEF3;
    letter-spacing: 3px;
    margin-left: 1.25rem;
    cursor: pointer; }
  .form__heading {
    font-size: inherit;
    color: #FFF;
    letter-spacing: 2px;
    margin-bottom: 1rem; }
  .form__radio-group {
    margin: 0 4rem 0.5rem 0;
    position: relative; }
    @media only screen and (max-width: 65em) {
      .form__radio-group {
        display: flex;
        flex-direction: column; } }
  .form__radio {
    display: none; }
  .form__radio-btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 3px solid #AE7470;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: -0.2rem;
    cursor: pointer; }
    .form__radio-btn::after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #AE7470;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s; }
  .form__submit {
    padding: 1rem 3.25rem !important;
    font-weight: 600 !important;
    letter-spacing: 3px !important;
    border: 1px solid #4A2C2A;
    box-shadow: 0 5px 1rem rgba(20, 12, 11, 0.6);
    cursor: pointer;
    transition: all 0.2s; }
    .form__submit:hover {
      border: 1px solid #804C49;
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(20, 12, 11, 0.6); }
  .form__radio:checked + .form__label .form__radio-btn::after {
    visibility: visible;
    opacity: 1; }

.bulletin {
  width: 49%;
  padding: 1.5rem 0 1.5rem 4rem;
  background-image: linear-gradient(135deg, #AE7470, #804C49, rgba(74, 44, 42, 0.75));
  border: 4px solid rgba(255, 253, 209, 0.8);
  border-radius: 5px; }
  @media only screen and (max-width: 65em) {
    .bulletin {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    .bulletin {
      width: 100%; } }
  .bulletin__list {
    display: block;
    list-style: none;
    margin: auto;
    text-align: left;
    text-transform: capitalize; }
  .bulletin__item {
    margin: 1.5rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .bulletin__item {
        letter-spacing: normal; } }
    .bulletin__item--number {
      display: inline-block;
      padding: -2px 0.5rem;
      font-weight: 800;
      border-bottom: 2px solid #EBDDDD;
      position: relative;
      left: -1.5rem; }
    .bulletin__item--icon {
      font-size: 3.4rem;
      display: inline-block;
      margin-left: 1rem;
      background-image: linear-gradient(135deg, #EBDDDD, #e3cfcd);
      background-clip: text;
      color: transparent; }
    .bulletin__item:hover .bulletin__item--number {
      border-color: #FFFDD1; }
    .bulletin__item:hover .bulletin__item--icon {
      background-image: linear-gradient(135deg, #FFFEF3, #fffcb8);
      transform: scale(1.25, 1.2); }
      @media only screen and (max-width: 37.5em) {
        .bulletin__item:hover .bulletin__item--icon {
          transform: none; } }
    .bulletin__item:hover {
      color: #FFFDD1;
      transform: translateX(0.75rem) scaleX(0.85);
      letter-spacing: 0.45rem; }
      @media only screen and (max-width: 37.5em) {
        .bulletin__item:hover {
          transform: none;
          letter-spacing: normal; } }

.btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 20; }
  .btn__big, .btn__big:link, .btn__big:visited {
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 4rem;
    border-radius: 10rem;
    transition: all .3s; }
  .btn__big:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    transform: translateY(-5px); }
  .btn__big:active {
    box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.4);
    transform: translateY(-2.5px); }
  .btn--white {
    background-color: #FFFEF3;
    color: #140C0B; }
    .btn--white:hover {
      background-color: #4A2C2A;
      color: #EBDDDD; }
  .btn__small, .btn__small:link, .btn__small:visited {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 2px;
    padding: .25rem 1rem;
    transition: all .2s; }
  .btn__small:hover {
    transform: translateY(-5px); }
  .btn--yellow-white {
    background-color: rgba(255, 254, 243, 0.9);
    color: #4A2C2A; }
    .btn--yellow-white:hover {
      background-color: #FFFA8D;
      color: #140C0B; }

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 100%;
  padding: 10rem 4rem;
  width: 100%;
  border-radius: 5px;
  background-color: #CDA9A6;
  background-image: linear-gradient(100deg, rgba(255, 254, 243, 0.3), rgba(255, 254, 243, 0.1) 25%, rgba(174, 116, 112, 0.3) 40%, rgba(74, 44, 42, 0.3));
  outline: 1px solid #FFFDD1;
  outline-offset: -2rem;
  overflow: hidden; }
  @media only screen and (max-width: 65em) {
    .card-container {
      flex-direction: column;
      align-items: center; } }
  .card-container .checkbox {
    display: none; }
  .card-container .card {
    display: flex;
    cursor: pointer;
    height: 40rem;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 5px;
    border: 1px solid rgba(74, 44, 42, 0.9);
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all 0.3s; }
    .card-container .card > .card__header {
      position: absolute;
      top: 90%;
      transform: translate(-50%, -50%);
      color: #FFFA8D;
      transition: all 0.2s; }
    .card-container .card--1 {
      width: 60%;
      background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/CoffeeShop-1200w.jpg); }
      .card-container .card--1:hover > .card__text {
        visibility: visible;
        opacity: 1; }
      .card-container .card--1 > .card__header {
        left: 5%; }
      @media only screen and (max-width: 65em) {
        .card-container .card--1 {
          width: 100%;
          margin-bottom: 6rem;
          cursor: default; } }
    .card-container .card--2, .card-container .card--3, .card-container .card--4 {
      width: 10rem;
      background-color: #4A2C2A;
      background-image: linear-gradient(95deg, #4A2C2A, #804C49); }
      .card-container .card--2 > .card__header, .card-container .card--3 > .card__header, .card-container .card--4 > .card__header {
        left: 50%; }
      @media only screen and (max-width: 65em) {
        .card-container .card--2, .card-container .card--3, .card-container .card--4 {
          width: 100%;
          margin-bottom: 6rem; }
          .card-container .card--2 > .card__header, .card-container .card--3 > .card__header, .card-container .card--4 > .card__header {
            left: 5%; } }
    @media only screen and (max-width: 65em) {
      .card-container .card--2 {
        background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/coffee-shop2-1200w.jpg);
        cursor: default; }
      .card-container .card--3 {
        background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/coffee-shop-outdoors-1200w.jpg);
        cursor: default; }
      .card-container .card--4 {
        background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/PourOver-1200w.jpg);
        cursor: default; } }
    .card-container .card > .card__text {
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      margin: 0 2% 2% 10%;
      padding: 1rem 1.5rem;
      background-color: rgba(74, 44, 42, 0.8);
      color: rgba(255, 254, 243, 0.95);
      border-radius: 3px;
      visibility: hidden;
      opacity: 0;
      transition: all 0s, opacity 0.4s; }
      @media only screen and (max-width: 65em) {
        .card-container .card > .card__text {
          visibility: visible;
          opacity: 1; } }
  .card-container .checkbox:checked + .card {
    background-color: #4A2C2A;
    background-image: linear-gradient(95deg, #4A2C2A, #804C49); }
    @media only screen and (max-width: 65em) {
      .card-container .checkbox:checked + .card {
        background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/CoffeeShop-1200w.jpg);
        cursor: default; } }
    .card-container .checkbox:checked + .card--1 {
      width: 10rem; }
      .card-container .checkbox:checked + .card--1 > .card__header {
        left: 50%; }
      .card-container .checkbox:checked + .card--1 > .card__text {
        visibility: hidden;
        opacity: 0; }
      @media only screen and (max-width: 65em) {
        .card-container .checkbox:checked + .card--1 {
          width: 100%;
          margin-bottom: 6rem; }
          .card-container .checkbox:checked + .card--1 > .card__header {
            left: 5%; }
          .card-container .checkbox:checked + .card--1 > .card__text {
            visibility: visible;
            opacity: 1; } }
    .card-container .checkbox:checked + .card--2, .card-container .checkbox:checked + .card--3, .card-container .checkbox:checked + .card--4 {
      width: 60%; }
      @media only screen and (max-width: 65em) {
        .card-container .checkbox:checked + .card--2, .card-container .checkbox:checked + .card--3, .card-container .checkbox:checked + .card--4 {
          width: 100%;
          margin-bottom: 6rem; } }
      .card-container .checkbox:checked + .card--2:hover .card__text, .card-container .checkbox:checked + .card--3:hover .card__text, .card-container .checkbox:checked + .card--4:hover .card__text {
        visibility: visible;
        opacity: 1; }
      .card-container .checkbox:checked + .card--2 > .card__header, .card-container .checkbox:checked + .card--3 > .card__header, .card-container .checkbox:checked + .card--4 > .card__header {
        left: 5%; }
    .card-container .checkbox:checked + .card--2 {
      background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/coffee-shop2-1200w.jpg); }
    .card-container .checkbox:checked + .card--3 {
      background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/coffee-shop-outdoors-1200w.jpg); }
    .card-container .checkbox:checked + .card--4 {
      background-image: linear-gradient(180deg, rgba(205, 169, 166, 0.2), rgba(174, 116, 112, 0.2) 50%, rgba(174, 116, 112, 0.3) 68%, rgba(128, 76, 73, 0.95) 90%), url(../imgs/PourOver-1200w.jpg); }

.envelope {
  width: 90%;
  padding: 22.5rem 0;
  background-color: #AE7470;
  border-radius: 3px;
  position: relative;
  transition: transform 1.6s; }
  @media only screen and (max-width: 37.5em), (hover: none) {
    .envelope {
      visibility: hidden; } }
  .envelope__main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 30rem 0;
    background-color: #4A2C2A;
    border-radius: 3px;
    clip-path: polygon(0 0, 50% 58%, 100% 0, 100% 100%, 0 100%); }
    @media only screen and (max-width: 37.5em), (hover: none) {
      .envelope__main {
        display: none; } }
  .envelope__fold {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #804C49;
    transition: all 0.65s cubic-bezier(cubic-bezier(0, 1, 1, 0)); }
    @media only screen and (max-width: 37.5em), (hover: none) {
      .envelope__fold {
        display: none; } }
  .envelope__letter {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    padding: 2rem;
    border-radius: 3px;
    background-position: top;
    background-image: linear-gradient(82deg, #fffdd1 0, #fffdd1 52%, rgba(74, 44, 42, 0.3) 52%), url(../imgs/coffee-beans-hand-1200w.jpg);
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: transform 1.4s, opacity 0.15s; }
    @media only screen and (max-width: 87.5em), (hover: hover) {
      .envelope__letter {
        background-image: linear-gradient(82deg, #fffdd1 0, #fffdd1 58%, rgba(74, 44, 42, 0.3) 58%), url(../imgs/coffee-beans-hand-1200w.jpg);
        background-position: 100%; } }
    @media only screen and (max-width: 62.5em) {
      .envelope__letter {
        background-image: linear-gradient(80deg, #fffdd1 0, #fffdd1 65%, rgba(74, 44, 42, 0.3) 65%), url(../imgs/coffee-beans-hand-1200w.jpg); } }
    @media only screen and (max-width: 43.75em) {
      .envelope__letter {
        background-image: linear-gradient(90deg, #FFFDD1, #FFFDD1); } }
    @media only screen and (max-width: 37.5em), (hover: none) {
      .envelope__letter {
        visibility: visible;
        opacity: 1; } }
  @media only screen and (min-width: 75em) {
    .envelope:hover {
      transform: translateY(12rem); } }

@media only screen and (min-width: 75em) and (hover: none) {
  .envelope {
    transform: translateY(0); } }
  .envelope:hover .envelope__fold {
    transform: translateY(-99%) rotateX(-170deg);
    z-index: 1; }
    @media (max-width: 600px) {
      .envelope:hover .envelope__fold {
        transform: translate(0) rotate(0); } }
  @media only screen and (min-width: 37.5em) {
    .envelope:hover .envelope__letter {
      visibility: visible;
      opacity: 1;
      transform: translateY(-14rem);
      z-index: 3; } }
  .envelope:hover .envelope__letter:active {
    transform: translateY(-16rem); }

.features {
  width: 48%;
  padding: 3rem 4rem;
  background-color: rgba(74, 44, 42, 0.97);
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 2rem rgba(20, 12, 11, 0.4);
  transform: skewX(-6deg);
  transition: all 0.4s; }
  @media only screen and (max-width: 65em) {
    .features {
      width: 80%;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .features {
      width: 100%;
      transform: none; } }
  .features > * {
    transform: skewX(6deg); }
    @media only screen and (max-width: 37.5em) {
      .features > * {
        transform: none; } }
  .features:hover {
    transform: translateY(-8px) skewX(-6deg);
    box-shadow: 0 8px 2rem rgba(20, 12, 11, 0.4); }
    @media only screen and (max-width: 37.5em) {
      .features:hover {
        transform: translateY(-8px) skewX(0deg); } }

.img-container {
  width: 48%;
  padding: 5rem;
  box-shadow: 0 2px 8px #fffa8d; }
  @media only screen and (max-width: 65em) {
    .img-container {
      width: 80%;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .img-container {
      width: 95%; } }
  .img-container__background {
    padding: 5rem;
    border-radius: 3px;
    background-size: 100%;
    background-color: rgba(255, 253, 209, 0.8);
    border: 2px solid #ebdddd;
    outline: 3px solid rgba(74, 44, 42, 0);
    outline-offset: -7rem;
    box-shadow: 0 8px 4rem rgba(20, 12, 11, 0.35);
    transition: all 1s, outline 0.2s, outline-offset 0.4s, border-color 0.4s; }
    .img-container__background--1 {
      background-image: linear-gradient(165deg, transparent 0, transparent 50%, #804c49 50%, #4a2c2a 85%, #140c0b); }
    .img-container__background--2 {
      background-image: linear-gradient(195deg, transparent 0, transparent 50%, #804c49 50%, #4a2c2a 85%, #140c0b); }
  .img-container__img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100rem;
    border-radius: 5px; }
  .img-container:hover .img-container__background--1, .img-container:hover .img-container__background--2 {
    background-size: 510%;
    outline-color: #fffdd1;
    outline-offset: -0.42rem;
    border-color: rgba(174, 116, 112, 0.8); }
  .img-container:hover .img-container__background--1 {
    background-position: 100%; }

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(174, 116, 112, 0.15);
  backdrop-filter: blur(3px);
  visibility: hidden;
  opacity: 0;
  transition: all .2s; }
  .pop-up__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    padding: 2rem;
    z-index: 30;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 1rem 4rem rgba(20, 12, 11, 0.75);
    transition: all .4s; }
    .pop-up__content--envelope {
      background-image: linear-gradient(82deg, #fffdd1 0, #fffdd1 55%, rgba(74, 44, 42, 0.3) 55%), url(../imgs/coffee-beans-hand-1200w.jpg);
      background-position: center;
      background-size: cover; }
      @media (tab-land) {
        .pop-up__content--envelope {
          background-image: linear-gradient(82deg, #fffdd1 0, #fffdd1 65%, rgba(74, 44, 42, 0.3) 65%), url(../imgs/coffee-beans-hand-1200w.jpg); } }
      @media (max-width: 62.5em) {
        .pop-up__content--envelope {
          background-image: linear-gradient(82deg, #fffdd1 0, #fffdd1 65%, rgba(74, 44, 42, 0.3) 65%), url(../imgs/coffee-beans-hand-1200w.jpg); } }
      @media (max-width: 43.75em) {
        .pop-up__content--envelope {
          background-image: linear-gradient(82deg, rgba(255, 253, 209, 0.95) 0, rgba(255, 253, 209, 0.95) 100%), url(../imgs/coffee-beans-hand-1200w.jpg); } }
  .pop-up__exit:link, .pop-up__exit:visited {
    display: inline-block;
    font-size: 4rem;
    text-decoration: none;
    line-height: normal;
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    color: #804C49;
    transition: all .2s; }
  .pop-up__exit:hover, .pop-up__exit:active {
    color: #4A2C2A;
    transform: translateY(-2px) scale(1.05);
    text-shadow: 0 2px 2px rgba(20, 12, 11, 0.25); }
  .pop-up:target {
    visibility: visible;
    opacity: 1; }
  .pop-up:target .pop-up__content {
    transform: translate(-50%, -50%) scale(1); }

.flex-row-between {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2.5rem; }

@media only screen and (max-width: 65em) {
  .flex-row-between {
    flex-direction: column-reverse; } }

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

@media only screen and (max-width: 65em) {
  .flex-row-center {
    flex-direction: column; } }

.footer {
  padding: 6rem 4rem 15rem;
  background-color: #4A2C2A;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding-bottom: 30rem; } }
  .footer__logo {
    margin-top: 6rem;
    margin-bottom: 14rem;
    font-size: 4rem; }
  .footer .social-box {
    display: inline-block;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .footer .social-box {
        width: 100%;
        top: 35%;
        text-align: center; } }
  .footer .social__list {
    display: block;
    list-style: none; }
  .footer .social__item {
    display: inline-block; }
  .footer .social__link:link, .footer .social__link:visited {
    display: inline-block;
    font-size: 4.5rem;
    color: #EBDDDD;
    text-decoration: none;
    margin: 0 1.5rem;
    transition: all 0.3s; }
  .footer .social__link:hover {
    transform: translateY(-4px);
    color: #FFFA8D; }
  .footer__list {
    display: inline-block;
    font-size: 1.6rem;
    list-style: none;
    margin: 12rem 0 0 2.5rem;
    width: 45%;
    padding-top: 3rem;
    border-top: 1px solid #EBDDDD; }
  .footer__item {
    display: inline;
    margin: 5rem 2.5rem 0 0;
    width: 50%;
    line-height: 4rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #EBDDDD;
    text-transform: uppercase;
    transition: all 0.3s; }
  .footer__link:hover {
    transform: scale(1.1) rotateZ(-4deg);
    box-shadow: 0 0.4rem 1rem rgba(20, 12, 11, 0.6); }
  .footer__statement-box {
    width: 40%;
    float: right;
    margin: 12rem 4.5rem 0 0; }
  .footer__statement {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 3rem;
    letter-spacing: 1px;
    border-top: 1px solid #EBDDDD; }
    .footer__statement a:link, .footer__statement a:visited {
      display: inline-block;
      text-decoration: none;
      color: #FFFA8D;
      transition: all 0.3s; }
    .footer__statement a:hover {
      transform: scale(1.1) rotateZ(-4deg);
      box-shadow: 0 0.4rem 1rem rgba(20, 12, 11, 0.6); }

.header {
  background-image: linear-gradient(100deg, rgba(128, 76, 73, 0.5), rgba(74, 44, 42, 0.6), rgba(20, 12, 11, 0.7)), url(../imgs/hero.jpg);
  margin: 1.5rem 2.5rem;
  background-size: cover;
  background-position: 100%;
  height: 95vh;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72%;
    transform: translate(-50%, -50%);
    padding: 2.5rem; }
    @media (max-width: 600px) {
      .header__text-box {
        width: 85%;
        padding: 2rem; } }

.navigation {
  position: relative; }
  .navigation__btn {
    position: fixed;
    top: 3.5rem;
    right: 4.5rem;
    z-index: 75;
    width: 7rem;
    height: 7rem;
    background-color: #4A2C2A;
    border: 1px solid #140C0B;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s; }
    .navigation__btn:hover {
      background-color: #FFF;
      transform: translateY(-5px);
      border-color: #CDA9A6; }
    .navigation__btn span {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .navigation__btn span, .navigation__btn span::before, .navigation__btn span::after {
        display: inline-block;
        width: 3rem;
        height: .4rem;
        background-color: #EBDDDD;
        transition: transform .1s; }
      .navigation__btn span::before, .navigation__btn span::after {
        content: "";
        position: absolute;
        left: 0;
        left: 50%;
        transform: translateX(-50%); }
      .navigation__btn span::before {
        top: -1rem; }
      .navigation__btn span::after {
        top: 1rem; }
    .navigation__btn:hover span {
      background-color: #4A2C2A; }
    .navigation__btn:hover span::before {
      top: -1.35rem;
      background-color: #4A2C2A; }
    .navigation__btn:hover span::after {
      top: 1.35rem;
      background-color: #4A2C2A; }
  .navigation__background {
    position: fixed;
    top: 4rem;
    right: 5rem;
    z-index: 70;
    width: 6rem;
    height: 6rem;
    clip-path: circle(50% at 50% 50%);
    background-color: #804C49;
    transition: all 0.4s cubic-bezier(0, 0.5, 0.5, 0); }
  .navigation .nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 73;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    max-width: 35rem;
    transition: opacity .3s .2s, visibility 0s; }
    .navigation .nav__list {
      list-style: none;
      width: 100%; }
    .navigation .nav__item {
      display: block;
      width: 100%; }
    .navigation .nav__link:link, .navigation .nav__link:visited {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: #804C49;
      letter-spacing: 4px;
      padding: .5rem;
      margin: 2rem 0;
      width: 100%;
      border-radius: 4px;
      background-color: #FFF;
      background-image: linear-gradient(65deg, transparent 0, transparent 50%, #AE7470 50%, #AE7470 100%);
      background-size: 210%;
      transition: all .5s; }
    .navigation .nav__link:hover {
      background-position: 100%;
      color: #FFFEF3;
      transform: translateY(-3px); }
    .navigation .nav__link:active {
      transform: translateY(-0.5px); }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(110); }
  .navigation__checkbox:checked ~ .nav {
    visibility: visible;
    opacity: 1; }
  .navigation__checkbox:checked + .navigation__btn span {
    visibility: hidden; }
  .navigation__checkbox:checked + .navigation__btn span::before {
    visibility: visible;
    top: 0;
    left: 0;
    transform: rotate(225deg); }
  .navigation__checkbox:checked + .navigation__btn span::after {
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    transform: rotate(-225deg); }

.section-about {
  padding: 15rem 2.5rem 20rem;
  margin-bottom: 10rem; }
  @media (hover: none) {
    .section-about {
      padding: 5rem 2.5rem 7.5rem; } }
  @media (max-width: 43.75em) {
    .section-about {
      padding: 5rem 2.5rem;
      margin-bottom: 8rem; } }
  @media (max-width: 600px) {
    .section-about {
      padding: 5rem 2.5rem;
      margin-bottom: 10rem; } }
  @media (max-width: 26.24em) {
    .section-about {
      margin-bottom: 20rem; } }
  .section-about__container {
    display: flex;
    justify-content: center; }

.section-features {
  margin: 2.5rem;
  padding: 10rem 4rem 12rem;
  background-color: #AE7470;
  width: auto;
  background-image: linear-gradient(94deg, #cda9a6 0, #cda9a6 33.3333%, transparent 33.3333%, transparent 66.6667%, #804c49 66.6667%); }

.section-visit-us {
  padding: 5rem 2.5rem 4rem; }

.visit-us {
  padding: 5rem 4rem 4rem;
  background-color: rgba(74, 44, 42, 0.8);
  outline: 1px solid #FFFDD1;
  outline-offset: -2.5rem; }

.relax-section {
  padding: 4rem 4rem 4rem;
  background-color: #CDA9A6;
  background-image: linear-gradient(100deg, rgba(255, 254, 243, 0.3), rgba(255, 254, 243, 0.1) 25%, rgba(174, 116, 112, 0.3) 40%, rgba(74, 44, 42, 0.3));
  border-radius: 5px;
  outline: 1px solid #FFFDD1;
  outline-offset: -2.5rem; }

.section-booking {
  margin: 2.5rem;
  padding: 5rem 2rem;
  background-color: #804C49; }

.booking-form {
  width: auto;
  margin: 2.5rem;
  padding: 2.5rem 4rem 4rem;
  background-image: linear-gradient(75deg, #4A2C2A 0, #140C0B 30%, #140C0B 40%, rgba(174, 116, 112, 0.25) 50%, rgba(205, 169, 166, 0.15)), url(../imgs/BeautifulCoffeeDesignPour-2000w.jpg);
  background-size: 140%;
  background-position: 20%;
  border-radius: 3px; }
  @media only screen and (max-width: 37.5em) {
    .booking-form {
      background-image: linear-gradient(75deg, #4A2C2A 0, #140C0B 40%, #140C0B 50%, rgba(174, 116, 112, 0.5) 75%, rgba(205, 169, 166, 0.35)), url(../imgs/BeautifulCoffeeDesignPour-2000w.jpg);
      background-size: 280%;
      background-position: 40%; } }
