//COLORS
$white: #FFF;
$white-dark: #e7e7e7;

$brown-white: #EBDDDD;  //+15
$brown-lighter: #CDA9A6;  //+10
$brown-light: #AE7470;  //+5
$brown-medium: #804C49;  //0
$brown-dark: #4A2C2A;  //-5
$brown-black: #140C0B;  //-10


$red-white: #FFD5D5;  //+4
$red-light: #FF9191;  //+2
$red-medium: #FF9191;  //0
$red-dark: #FF6F6F;  //-2
$red-black: #3C0000;  //-20


$yellow-white: #FFFEF3; //+2
$yellow-lighter: #FFFDD1; //0
$yellow-light: #FFFA8D; //-4
$yellow-medium: #FFF749; //-8
$yellow-dark: #FFF405; //-12
$yellow-darker: #C0B800;  //-16
$yellow-black: #161500;  //-26


$blue-white: #DEEDFB; //+4
$blue-light: #BFDDF8; //+2
$blue-medium: #A1CDF4; //0
$blue-dark: #83BDF0; //-2


$green-white: #CCE8D9; //+8
$green-light: #9CD4B6; //+4
$green-medium: #6DBF93; //0
$green-dark: #47A171; //-4