.section-about {
    padding: 5rem 2.5rem 20rem;
    margin-bottom: 16rem;

    @media only screen and (max-width: 45em) {
        margin-bottom: 6rem;
    }

    @media only screen and (max-width: 43.75em) {
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 37.5em) {
        margin-bottom: 10rem;
    }

    @media only screen and (max-width: 34.5em) {
        margin-bottom: 18rem;
    }

    @media only screen and (max-width: 29.8125em) {
        margin-bottom: 24rem;
    }

    @media only screen and (max-width: 26em) {
        margin-bottom: 30rem;
    }

    @media only screen and (max-width: 25em) {
        margin-bottom: 36rem;
    }

    @media only screen and (max-width: 22.6875em) {
        margin-bottom: 46rem;
    }

    @media only screen and (max-width: 20.75em) {
        margin-bottom: 54rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.section-features {
    margin: 2.5rem;
    padding: 10rem 4rem 12rem;
    background-color: $brown-light;
    width: auto;
    background-image: linear-gradient(
        94deg,
        rgba($brown-lighter, 1) 0,
        rgba($brown-lighter, 1) 33.3333%,
        (transparent) 33.3333%,
        (transparent) 66.6667%,
        rgba($brown-medium, 1) 66.6667%
    );

    @media only screen and (max-width: 65em) {
        padding: 6rem 2rem;
    }

    @media only screen and (max-width: 37.5em) {
        padding: 10rem 2rem 12rem;
    }
}

.section-visit-us {
    padding: 5rem 2.5rem 4rem;
}

.visit-us {
    padding: 5rem 4rem 4rem;
    background-color: rgba($brown-dark, 0.8);
    outline: 1px solid $yellow-lighter;
    outline-offset: -2.5rem;

    @media only screen and (max-width: 37.5em) {
        padding: 5rem 1.5rem 4rem;
        outline-offset: -1rem;
    }
}

.relax-section {
    padding: 4rem 4rem 4rem;
    background-color: $brown-lighter;
    background-image: linear-gradient(
        100deg,
        rgba($yellow-white, 0.3),
        rgba($yellow-white, 0.1) 25%,
        rgba($brown-light, 0.3) 40%,
        rgba($brown-dark, 0.3)
    );
    border-radius: 5px;
    outline: 1px solid $yellow-lighter;
    outline-offset: -2.5rem;

    @media only screen and (max-width: 37.5em) {
        padding: 5rem 1rem;
        outline: none;
    }
}

.section-booking {
    margin: 2.5rem;
    padding: 5rem 2rem;
    background-color: $brown-medium;
}

.booking-form {
    width: auto;
    margin: 2.5rem;
    padding: 2.5rem 4rem 4rem;
    background-image: linear-gradient(
            75deg,
            $brown-dark 0,
            $brown-black 30%,
            $brown-black 40%,
            rgba($brown-light, 0.25) 50%,
            rgba($brown-lighter, 0.15)
        ),
        url(../imgs/BeautifulCoffeeDesignPour-1200w.jpg);
    background-size: 140%;
    background-position: 20%;
    border-radius: 3px;

    @media only screen and (min-width: 87.5em) {
        background-image: linear-gradient(
                75deg,
                $brown-dark 0,
                $brown-black 30%,
                $brown-black 40%,
                rgba($brown-light, 0.25) 50%,
                rgba($brown-lighter, 0.15)
            ),
            url(../imgs/BeautifulCoffeeDesignPour-2000w.jpg);
    }

    @media only screen and (max-width: 37.5em) {
        background-image: linear-gradient(
                75deg,
                $brown-dark 0,
                $brown-black 40%,
                $brown-black 50%,
                rgba($brown-light, 0.5) 75%,
                rgba($brown-lighter, 0.35)
            ),
            url(../imgs/BeautifulCoffeeDesignPour-600w.jpg);
        background-size: 280%;
        background-position: 40%;
        margin: 0rem;
    }
}
